{# 标题：所在系统 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试首页</title>
    {# 静态资源链接 #}
    {#<base href="{{ base_url}}">#}
    {# 导入jQuery库和js文件 #}
    {% include "static_resource.php" %}
    {#<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}
    <script type="text/javascript" src="./templates/yisa_statics/js/systest.js"></script>
    {# 导入bootstrap #}
    <link rel="stylesheet" href="./templates/yisa_statics/css/systest.css" type="text/css">
</head>
<body>
{% include "navigation.twig" %}
<h3 class="col-md-12" style="margin-top: 100px">测试数据详情 - {{ system }}</h3>
{# 测试数据表 （普通用户隐藏操作）#}
<div class="container col-md-12" style="padding: 40px">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="table-first-item">序号</th>
            <th class="table-second-item">模块</th>
            <th class="table-third-item">条件和操作</th>
        </tr>
        </thead>
        <tbody>
        {% for module in conditions['modules'] %}
            <tr>
                <td>{{ module['index_id'] }}</td>
                <td>{{ module['model_name'] }}</td>
                <td colspan="{{ module['condition_list']|length() }}">
                    <table class="table">
                        {% for condition in module['condition_list'] %}
                            <tr>
                                <td>
                                    条件：{{ condition['content'] }}
                                </td>
                                <td style="text-align: right">
                                    <button data-id="upd_cond" data-system="{{ system }}" data-module="{{ module['model_name'] }}" data-condition="{{ condition['content'] }}" class="cond_button">修改</button>
                                    <button data-id="del_cond" data-system="{{ system }}" data-module="{{ module['model_name'] }}" data-condition="{{ condition['content'] }}" class="cond_button">删除</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{# 添加测试条件 #}
<div>
    <div class="col-md-12">
    添加条件<br>
    <textarea id="add_cond_textarea" type="text" class="cond_text"></textarea>
    </div>
    <div class="col-md-12">
    所属模块：<select id="add_cond_select">
        {% for module in modules %}
        <option>{{ module }}</option>
        {% endfor %}
    </select>
    <button id="add_cond" data-system="{{ system }}" class="cond_button">添加</button>
    </div>
</div>
{# 添加测试模块 #}
<div class="col-md-6 add_mod">
    添加模块：<input id="add_mod_input" type="text">
    添加在标号<input id="mod_ord" type="text" class="mod_order">之前，若留空，则添加在末尾
    <button id="add_mod" data-system="{{ system }}" class="mod_button">添加</button>
</div>
{# 删除测试模块 (仅对管理员显示)#}
<div id="div_del_mod" class="col-md-6 del_mod">
    删除模块：<select id="del_mod_select">
        {% for module in modules %}
            <option>{{ module }}</option>
        {% endfor %}
    </select>
    <button id="del_mod" data-system="{{ system }}" class="mod_button">删除</button>
</div>
</body>
</html>